<button (click)="toggleSidebar()">
  <img src="/assets/images/menu.svg" class="size-10" alt="Menu Icon" />
</button>

<section
  *ngIf="isSidebarVisible"
  class="sidebar fixed left-0 top-0 z-[1000] h-screen w-screen bg-black p-5"
>
  <div class="flex w-full justify-between items-start my-5">
    <img src="/assets/images/sidebar-logo.svg" class="size-12" alt="Only Used Tesla Logo" />

    <button (click)="toggleSidebar()" class="absolute top-1 right-1">
      <img src="/assets/images/close.svg" class="size-12" alt="Menu Icon" />
    </button>
  </div>
  <nav
    class="flex w-full flex-col justify-center gap-3 text-2xl font-medium text-white"
  >
    <a
      routerLink="#"
      routerLinkActive="active"
      class="border-3 relative border-b-2 border-white leading-[60px] hover:text-white"
      >+ Sell My Tesla</a
    >
    <a
      routerLink="/used-tesla-for-sale"
      routerLinkActive="active"
      class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
      >Used Tesla For Sale</a
    >

    <a
      routerLink="#"
      routerLinkActive="active"
      class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
      >FAQ</a
    >
    <a
      routerLink="#"
      routerLinkActive="active"
      class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
      >About</a
    >

    <a
      routerLink="#"
      routerLinkActive="active"
      class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
      >Blog</a
    >

    <a
      routerLink="#"
      routerLinkActive="active"
      class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
      >Contact</a
    >

    <a href="#" class="hover:text-red-500">Log In</a>
    <a
      href="#"
      class="rounded py-1 text-OnlyUsedTeslaRed hover:bg-OnlyUsedTeslaRedHover"
      >Register</a
    >
  </nav>
</section>
