<div
  class="flex w-fit flex-col rounded border bg-white p-[14px] md:flex-row xl:max-w-[60rem]"
>
  <!-- Image -->
  <a
    href=""
    style="background-image: url(&quot;assets/images/tesla.jpg&quot;)"
    class="hidden bg-cover bg-center bg-no-repeat xl:block xl:w-[25%]"
  >
  </a>
  <div class="w-full md:w-[60%] xl:hidden">
    <div class="flex w-full justify-between border-b">
      <div class="flex items-center gap-1 py-3">
        <span
          class="rounded-full bg-OnlyUsedTeslaRed px-2 py-1.5 text-[8px] text-white"
          >FOR SALE</span
        >
        <span class="rounded-full bg-black px-2 py-1.5 text-[8px] text-white"
          >PRIVATE SELLER</span
        >
      </div>

      <div class="hidden text-end md:block">
        <p class="text-[8px] font-bold text-gray-600">ASKING PRICE</p>
        <p class="text-[20px] font-bold">$100,000</p>
      </div>
    </div>
    <a
      href=""
      class="mb-[1rem] text-[18px] font-semibold uppercase leading-[1] transition-colors hover:text-OnlyUsedTeslaRed"
    >
      2020 / Model Y / Long Range AWD / Midnight Silver Metallic
    </a>
    <div
      class="bg-cover bg-center bg-no-repeat pb-[56%]"
      style="background-image: url(&quot;assets/images/tesla.jpg&quot;)"
    ></div>
  </div>

  <!-- Description -->
  <div
    class="description flex flex-col-reverse items-start md:w-[40%] xl:w-[80%] xl:flex-row xl:justify-start"
  >
    <div class="flex w-full flex-col p-[7px_20px_0_20px] xl:w-[60%]">
      <!-- Badge -->
      <div class="hidden items-center gap-1 border-b py-3 xl:flex">
        <span
          class="rounded-full bg-OnlyUsedTeslaRed px-2 py-1.5 text-[8px] text-white"
          >FOR SALE</span
        >
        <span class="rounded-full bg-black px-2 py-1.5 text-[8px] text-white"
          >PRIVATE SELLER</span
        >
      </div>
      <div class="hidden py-3 md:block xl:space-y-3">
        <h3
          class="mb-[1rem] hidden text-[18px] font-semibold uppercase leading-[1] transition-colors hover:text-OnlyUsedTeslaRed xl:block"
        >
          2020 / Model Y / Long Range AWD / Midnight Silver Metallic
        </h3>
        <p
          class="car-listing relative h-[7rem] w-full overflow-hidden break-words leading-[1.4] text-[#6c7884] xl:h-[4.5rem]"
        >
          2019 Used Tesla Model 3 PERFORMANCE for sale right now in Los Angeles.
          CA Miles on the Dash: Just a tad over 60,000. Asking: $24,990 –
          Qualifies for $4,000 credit – Open to Reasonable Negotiations
          Negotiations Open to Reasonable Negotiations.
          <a
            href=""
            class="absolute bottom-0 right-[5px] z-10 text-blue-500 underline xl:bottom-1 xl:right-[25px]"
            >View listing</a
          >
        </p>
      </div>
    </div>
    <!-- Details -->
    <div class="w-full md:ps-[20px] xl:w-[40%]">
      <div class="hidden text-end md:block">
        <p class="text-[8px] font-bold text-gray-600">ASKING PRICE</p>
        <p class="text-[20px] font-bold">$100,000</p>
      </div>
      <div class="grid grid-cols-2 gap-1 pt-2">
        <div class="bg-[#efefef] pb-[9x] ps-[10px]">
          <span class="text-[8px] font-bold text-[#6c7884]">LISTING DATE</span>
          <p class="mb-1.5 text-[14px] font-medium leading-[1]">Sep 15, 2024</p>
        </div>
        <div class="bg-[#efefef] pb-[9x] ps-[10px]">
          <span class="text-[8px] font-bold text-[#6c7884]">CONDITION</span>
          <p class="mb-1.5 text-[14px] font-medium leading-[1]">Excellent</p>
        </div>
        <div class="w-full bg-[#efefef] pb-[9x] ps-[10px]">
          <span class="text-[8px] font-bold text-[#6c7884]">LOCATION</span>
          <p
            class="mb-1.5 max-w-[95%] overflow-hidden text-ellipsis whitespace-nowrap text-[14px] font-medium leading-[1]"
          >
            North Carolina,Cary
          </p>
        </div>
        <div class="bg-[#efefef] pb-[9x] ps-[10px]">
          <span class="text-[8px] font-bold text-[#6c7884]">MILAGE</span>
          <p class="mb-1.5 text-[14px] font-medium leading-[1]">93,000 miles</p>
        </div>
      </div>
    </div>
  </div>
</div>
