<!-- header.component.html -->
<header class="bg-black text-white">
    <div class="navbar mx-auto flex justify-between items-center py-4 px-6">
        <!-- Logo -->
        <img src="../../assets/out-horizontal-logo.svg" alt="Logo" class="w-[240px] h-[22.31px]">

        <!-- Navigation Links -->
        <nav class=" items-center space-x-[30px] text-[#CCCCCC] hidden">
            <a href="/used-tesla-for-sale" class="hover:text-red-500">Used Tesla For Sale</a>
            <a href="#" class="hover:text-red-500">FAQ</a>
            <a href="#" class="hover:text-red-500">About</a>
            <a href="#" class="hover:text-red-500">Blog</a>
            <a href="#" class="hover:text-red-500">Contact</a>
            <a href="#" class="hover:text-red-500">+ Sell My Tesla</a>
            <a href="#" class="hover:text-red-500">Log In</a>
            <a href="#" class="bg-OnlyUsedTeslaRed hover:bg-OnlyUsedTeslaRedHover text-white py-1 px-4 rounded">REGISTER</a>
        </nav>
    </div>
</header>


