<!-- header.component.html -->
<header class="border-b bg-black px-5 py-0 text-white lg:px-0 lg:py-0 flex justify-center">
  <div class="navbar xl:mx-auto  flex items-center justify-between xl:container w-full">
    <!-- Logo -->
    <a routerLink="/">
      <img
        src="../../assets/out-horizontal-logo.svg"
        alt="Logo"
        class="h-[22.31px] w-[240px]"
      />
    </a>

    <!-- Navigation Links -->
    <nav
      class="hidden items-center space-x-[15px] text-[#CCCCCC] lg:flex xl:space-x-[30px]"
    >
      <a
        routerLink="/used-tesla-for-sale"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >Used Tesla For Sale</a
      >

      <a
        routerLink="/faq"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >FAQ</a
      >
      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >About</a
      >

      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >Blog</a
      >

      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >Contact</a
      >
      <a *ngIf="auth.isAuthenticated$ | async" href="#" 
      class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >Account</a
      >
      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >+ Sell My Tesla</a
      >
      <ng-container
        *ngIf="
          auth.isAuthenticated$ | async as isAuthenticated;
          else loginButton
        "
      >
        <a class="cursor-pointer hover:text-red-500" (click)="auth.logout()">
          Logout
        </a>
      </ng-container>
      <ng-template #loginButton>
        <a
          (click)="auth.loginWithRedirect()"
          href="#"
          class="cursor-pointer hover:text-red-500"
          >Log In</a
        >
        <a
          (click)="auth.loginWithRedirect()"
          class="cursor-pointer rounded bg-OnlyUsedTeslaRed px-4 py-1 text-white hover:bg-OnlyUsedTeslaRedHover"
          >REGISTER</a
        >
      </ng-template>
    </nav>
    <div class="lg:hidden">
      <app-mobile-sidebar></app-mobile-sidebar>
    </div>
  </div>
</header>
