<!-- header.component.html -->
<header class="border-b bg-black text-white px-5 py-1 lg:px-0 lg:py-0">
  <div class="navbar xl:container mx-auto flex items-center justify-between">
    <!-- Logo -->
    <a routerLink="/">
      <img
        src="../../assets/out-horizontal-logo.svg"
        alt="Logo"
        class="h-[22.31px] w-[240px]"
      />
    </a>

    <!-- Navigation Links -->
    <nav
      class="hidden items-center space-x-[15px] text-[#CCCCCC] lg:flex xl:space-x-[30px]"
    >
      <a
        routerLink="/used-tesla-for-sale"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >Used Tesla For Sale</a
      >

      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >FAQ</a
      >
      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >About</a
      >

      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >Blog</a
      >

      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >Contact</a
      >
      <a
        routerLink="#"
        routerLinkActive="active"
        class="border-3 relative border-OnlyUsedTeslaRed hover:text-white"
        >+ Sell My Tesla</a
      >

      <a href="#" class="hover:text-red-500">Log In</a>
      <a
        href="#"
        class="rounded bg-OnlyUsedTeslaRed px-4 py-1 text-white hover:bg-OnlyUsedTeslaRedHover"
        >REGISTER</a
      >
    </nav>
    <div class="lg:hidden">
      <app-mobile-sidebar></app-mobile-sidebar>
    </div>
  </div>
</header>
