<select [value]="selectedValue" (change)="onChange($event)">
    <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
  </select>


  <!--
  <atom-select
  [options]="selectOptions"
  [selectedValue]="selected"
  (selectChange)="onSelectChange($event)"
></atom-select>



selectOptions = [
    { label: 'New York', value: 'NY' },
    { label: 'California', value: 'CA' },
    { label: 'Texas', value: 'TX' }
  ];

  selected = 'CA'; 

  onSelectChange(value: any) {
    console.log('Selected value:', value);
    this.selected = value; 
  }
  -->
