<div data-v-70d94712="" class="contact flex-1">
  <section data-v-1d36c4b3="" data-v-70d94712="" class="page__header">
    <div
      data-v-1d36c4b3=""
      class="page__header-grid vueGrid_1Tm4 vmd_OErr hmd_3uLh"
      style="text-align: left"
    >
      <div
        data-v-1d36c4b3=""
        class="vueGridRow_17Az md_3grx text-left flex-wrap"
      >
        <div
          class=" w-full text-left flex-grow-1 flex-shrink-1 hmd_j38p"
        >
          <h1 data-v-1d36c4b3="" class="relative leading-[1.1] text-white  page__title">Contact us</h1>
        </div>
      </div>
    </div>
  </section>
  <div data-v-70d94712="" class="page-content">
    <span data-v-796c2e36="" data-v-70d94712=""
      ><form data-v-796c2e36="" class="contact-form">
        <section data-v-796c2e36="" class="listing__general-info">
          <div
            data-v-796c2e36=""
            class="contact-form-grid vueGrid_1Tm4 hmd_3uLh"
            style="text-align: left"
          >
            <div
              data-v-796c2e36=""
              class="vueGridRow_17Az md_3grx"
              style="align-items: center; text-align: left; flex-wrap: wrap"
            >
              <div
                data-v-796c2e36=""
                data-width="100%"
                class="vueGridColumn_2t9e hmd_j38p"
                style="
                  text-align: left;
                  flex-grow: 1;
                  flex-shrink: 1;
                  width: 100%;
                  --phone: 100%;
                  --tablet-portrait: 100%;
                  --tablet-landscape: 100%;
                  --small-desktop: 100%;
                  --large-desktop: 100%;
                "
              >
                <h3 data-v-796c2e36="" class="contact-form__title">
                  Leave us a message
                </h3>
                <p data-v-796c2e36="" class="contact-form__sub-text">
                  Getting in touch with us is easy, you can fill in the below
                  form or by emailing us at
                  <a data-v-796c2e36="" href="mailto:contact@onlyusedtesla.com"
                    >contact&#64;onlyusedtesla.com</a
                  >
                </p>
                <p data-v-796c2e36="" class="contact-form__sub-text">
                  Please note, if you are wanting to reach out to a seller,
                  please contact the seller directly by
                  <a class="text-[]" href="">registering</a> for an account,
                  and enquiring on the listing.
                </p>
                <!---->
              </div>
            </div>
            <section
              data-v-796c2e36=""
              class="contact-form__section contact-form__section--first"
            >
              <div
                data-v-796c2e36=""
                class="vueGridRow_17Az md_3grx"
                style="align-items: center; text-align: left; flex-wrap: wrap"
              >
                <div
                  data-v-796c2e36=""
                  data-width="100%"
                  class="vueGridColumn_2t9e hmd_j38p"
                  style="
                    text-align: left;
                    flex-grow: 1;
                    flex-shrink: 1;
                    width: 100%;
                    --phone: 100%;
                    --tablet-portrait: 50%;
                    --tablet-landscape: 50%;
                    --small-desktop: 50%;
                    --large-desktop: 50%;
                  "
                >
                  <div data-v-796c2e36="" class="first-name">
                    <span data-v-796c2e36=""
                      ><div class="vueInput_76Yk">
                        <label for="First name"> First name<!----></label>
                        <input
                          id="firstName"
                          name="First name"
                          type="text"
                          autocomplete="off"
                          class=""
                        />
                        <span
                          ><svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="far"
                            data-icon="exclamation-triangle"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                            class="svg-inline--fa fa-exclamation-triangle fa-w-18"
                          >
                            <path
                              fill="currentColor"
                              d="M248.747 204.705l6.588 112c.373 6.343 5.626 11.295 11.979 11.295h41.37a12 12 0 0 0 11.979-11.295l6.588-112c.405-6.893-5.075-12.705-11.979-12.705h-54.547c-6.903 0-12.383 5.812-11.978 12.705zM330 384c0 23.196-18.804 42-42 42s-42-18.804-42-42 18.804-42 42-42 42 18.804 42 42zm-.423-360.015c-18.433-31.951-64.687-32.009-83.154 0L6.477 440.013C-11.945 471.946 11.118 512 48.054 512H527.94c36.865 0 60.035-39.993 41.577-71.987L329.577 23.985zM53.191 455.002L282.803 57.008c2.309-4.002 8.085-4.002 10.394 0l229.612 397.993c2.308 4-.579 8.998-5.197 8.998H58.388c-4.617.001-7.504-4.997-5.197-8.997z"
                              class=""
                            ></path>
                          </svg>
                        </span></div
                    ></span>
                  </div>
                </div>
                <div
                  data-v-796c2e36=""
                  data-width="100%"
                  class="vueGridColumn_2t9e hmd_j38p"
                  style="
                    text-align: left;
                    flex-grow: 1;
                    flex-shrink: 1;
                    width: 100%;
                    --phone: 100%;
                    --tablet-portrait: 50%;
                    --tablet-landscape: 50%;
                    --small-desktop: 50%;
                    --large-desktop: 50%;
                  "
                >
                  <div data-v-796c2e36="" class="last-name">
                    <span data-v-796c2e36=""
                      ><div class="vueInput_76Yk">
                        <label for="Last name"> Last name<!----></label>
                        <input
                          id="lastName"
                          name="Last name"
                          type="text"
                          autocomplete="off"
                          class=""
                        />
                        <span
                          ><svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="far"
                            data-icon="exclamation-triangle"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                            class="svg-inline--fa fa-exclamation-triangle fa-w-18"
                          >
                            <path
                              fill="currentColor"
                              d="M248.747 204.705l6.588 112c.373 6.343 5.626 11.295 11.979 11.295h41.37a12 12 0 0 0 11.979-11.295l6.588-112c.405-6.893-5.075-12.705-11.979-12.705h-54.547c-6.903 0-12.383 5.812-11.978 12.705zM330 384c0 23.196-18.804 42-42 42s-42-18.804-42-42 18.804-42 42-42 42 18.804 42 42zm-.423-360.015c-18.433-31.951-64.687-32.009-83.154 0L6.477 440.013C-11.945 471.946 11.118 512 48.054 512H527.94c36.865 0 60.035-39.993 41.577-71.987L329.577 23.985zM53.191 455.002L282.803 57.008c2.309-4.002 8.085-4.002 10.394 0l229.612 397.993c2.308 4-.579 8.998-5.197 8.998H58.388c-4.617.001-7.504-4.997-5.197-8.997z"
                              class=""
                            ></path>
                          </svg>
                        </span></div
                    ></span>
                  </div>
                </div>
              </div>
            </section>
            <section data-v-796c2e36="" class="contact-form__section">
              <div
                data-v-796c2e36=""
                class="vueGridRow_17Az md_3grx"
                style="align-items: center; text-align: left; flex-wrap: wrap"
              >
                <div
                  data-v-796c2e36=""
                  data-width="100%"
                  class="vueGridColumn_2t9e hmd_j38p"
                  style="
                    text-align: left;
                    flex-grow: 1;
                    flex-shrink: 1;
                    width: 100%;
                    --phone: 100%;
                    --tablet-portrait: 100%;
                    --tablet-landscape: 100%;
                    --small-desktop: 100%;
                    --large-desktop: 100%;
                  "
                >
                  <div data-v-796c2e36="" class="telephone">
                    <span data-v-796c2e36=""
                      ><div class="vueInput_76Yk">
                        <label for="telephone"> Telephone<!----></label>
                        <input
                          id="telephone"
                          name="telephone"
                          type="text"
                          autocomplete="off"
                          class=""
                        />
                        <span
                          ><svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="far"
                            data-icon="exclamation-triangle"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                            class="svg-inline--fa fa-exclamation-triangle fa-w-18"
                          >
                            <path
                              fill="currentColor"
                              d="M248.747 204.705l6.588 112c.373 6.343 5.626 11.295 11.979 11.295h41.37a12 12 0 0 0 11.979-11.295l6.588-112c.405-6.893-5.075-12.705-11.979-12.705h-54.547c-6.903 0-12.383 5.812-11.978 12.705zM330 384c0 23.196-18.804 42-42 42s-42-18.804-42-42 18.804-42 42-42 42 18.804 42 42zm-.423-360.015c-18.433-31.951-64.687-32.009-83.154 0L6.477 440.013C-11.945 471.946 11.118 512 48.054 512H527.94c36.865 0 60.035-39.993 41.577-71.987L329.577 23.985zM53.191 455.002L282.803 57.008c2.309-4.002 8.085-4.002 10.394 0l229.612 397.993c2.308 4-.579 8.998-5.197 8.998H58.388c-4.617.001-7.504-4.997-5.197-8.997z"
                              class=""
                            ></path>
                          </svg>
                        </span></div
                    ></span>
                  </div>
                </div>
                <div
                  data-v-796c2e36=""
                  data-width="100%"
                  class="vueGridColumn_2t9e hmd_j38p"
                  style="
                    text-align: left;
                    flex-grow: 1;
                    flex-shrink: 1;
                    width: 100%;
                    --phone: 100%;
                    --tablet-portrait: 100%;
                    --tablet-landscape: 100%;
                    --small-desktop: 100%;
                    --large-desktop: 100%;
                  "
                >
                  <div data-v-796c2e36="" class="telephone">
                    <span data-v-796c2e36=""
                      ><div class="vueInput_76Yk">
                        <label for="Email"> Email<!----></label>
                        <input
                          id="email"
                          name="Email"
                          type="text"
                          autocomplete="off"
                          class=""
                        />
                        <span
                          ><svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="far"
                            data-icon="exclamation-triangle"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                            class="svg-inline--fa fa-exclamation-triangle fa-w-18"
                          >
                            <path
                              fill="currentColor"
                              d="M248.747 204.705l6.588 112c.373 6.343 5.626 11.295 11.979 11.295h41.37a12 12 0 0 0 11.979-11.295l6.588-112c.405-6.893-5.075-12.705-11.979-12.705h-54.547c-6.903 0-12.383 5.812-11.978 12.705zM330 384c0 23.196-18.804 42-42 42s-42-18.804-42-42 18.804-42 42-42 42 18.804 42 42zm-.423-360.015c-18.433-31.951-64.687-32.009-83.154 0L6.477 440.013C-11.945 471.946 11.118 512 48.054 512H527.94c36.865 0 60.035-39.993 41.577-71.987L329.577 23.985zM53.191 455.002L282.803 57.008c2.309-4.002 8.085-4.002 10.394 0l229.612 397.993c2.308 4-.579 8.998-5.197 8.998H58.388c-4.617.001-7.504-4.997-5.197-8.997z"
                              class=""
                            ></path>
                          </svg>
                        </span></div
                    ></span>
                  </div>
                </div>
              </div>
            </section>
            <section data-v-796c2e36="" class="contact-form__section--last">
              <div
                data-v-796c2e36=""
                class="vueGridRow_17Az md_3grx"
                style="align-items: center; text-align: left; flex-wrap: wrap"
              >
                <div
                  data-v-796c2e36=""
                  data-width="100%"
                  class="vueGridColumn_2t9e hmd_j38p"
                  style="
                    text-align: left;
                    flex-grow: 1;
                    flex-shrink: 1;
                    width: 100%;
                    --phone: 100%;
                    --tablet-portrait: 100%;
                    --tablet-landscape: 100%;
                    --small-desktop: 100%;
                    --large-desktop: 100%;
                  "
                >
                  <div data-v-796c2e36="" class="message">
                    <span data-v-796c2e36=""
                      ><div class="vueInput_76Yk">
                        <label for="Message"> Message<!----></label>
                        <textarea
                          id="message"
                          name="Message"
                          type="textarea"
                          autocomplete="off"
                          class=""
                        ></textarea>
                        <span
                          ><svg
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="far"
                            data-icon="exclamation-triangle"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512"
                            class="svg-inline--fa fa-exclamation-triangle fa-w-18"
                          >
                            <path
                              fill="currentColor"
                              d="M248.747 204.705l6.588 112c.373 6.343 5.626 11.295 11.979 11.295h41.37a12 12 0 0 0 11.979-11.295l6.588-112c.405-6.893-5.075-12.705-11.979-12.705h-54.547c-6.903 0-12.383 5.812-11.978 12.705zM330 384c0 23.196-18.804 42-42 42s-42-18.804-42-42 18.804-42 42-42 42 18.804 42 42zm-.423-360.015c-18.433-31.951-64.687-32.009-83.154 0L6.477 440.013C-11.945 471.946 11.118 512 48.054 512H527.94c36.865 0 60.035-39.993 41.577-71.987L329.577 23.985zM53.191 455.002L282.803 57.008c2.309-4.002 8.085-4.002 10.394 0l229.612 397.993c2.308 4-.579 8.998-5.197 8.998H58.388c-4.617.001-7.504-4.997-5.197-8.997z"
                              class=""
                            ></path>
                          </svg>
                        </span></div
                    ></span>
                  </div>
                </div>
              </div>
            </section>
            <button
              class="leading-0 h-[6rem] w-full md:w-[50%] rounded bg-black text-white hover:bg-OnlyUsedTeslaRed disabled:cursor-not-allowed disabled:opacity-50"
              type="submit"
            >
              Submit enquiry →
            </button>
          </div>
        </section>
      </form></span
    >
  </div>
</div>
