<footer class="bg-black text-white  pt-[1.5rem] pb-[1.5rem]">
    <section class="container grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto px-[16px] xl:px-[80px] mb-[16px]">
        <div>
            <h2 class="font-bold border-b-4 border-OnlyUsedTeslaRed py-2 mb-[10px]">SHOP BY LOCATION</h2>
            <nav class="flex flex-col space-y-1">
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale California</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale Florida</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale Arizona</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale Texas</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale Nevada</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale New York</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale Illinois</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale George</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale Virginia</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Tesla for Sale New Jersey</a>
            </nav>
        </div>
        <div>
            <h2 class="font-bold border-b-4 border-OnlyUsedTeslaRed py-2 mb-[10px]">SHOP BY MODELS</h2>
            <nav class="flex flex-col space-y-1">
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Cybertruck For Sale</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Model S For Sale</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Model 3 For Sale</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Model X For Sale</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Model Y For Sale</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Used Roadster For Sale</a>
            </nav>
        </div>
        <div>
            <h2 class="font-bold border-b-4 border-OnlyUsedTeslaRed py-2 mb-[10px]">SUPPORT</h2>
            <nav class="flex flex-col space-y-1">
                <a href="" class="hover:text-OnlyUsedTeslaRed">About Us</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Dealers</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Tesla News</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Frequently Asked Questions</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Fraud Awareness</a>
                <a href="" class="hover:text-OnlyUsedTeslaRed">Contact Us</a>
            </nav>
        </div>
    </section>
    <section class="container mx-auto px-[16px] xl:px-[80px]">
        <div class="pb-[20px]">
            <p class="text-[14px] ">Copyright © 2024 Qureshi Media — All rights reserved.</p>    
        </div>
        <div class="border-t border-gray-600 pt-[20px]">
            <p class="text-[12px] text-[#ccc] leading-[1.4] mb-[16px]">Only Used Tesla (OUT) is an independent organization and is not affiliated with Tesla Motors, Inc. or its subsidiaries. Tesla, Tesla Motors, Tesla Roadster, Model S, Model X, and the “Tesla”, “T” and “Tesla and T in Crest” designs are trademarks or registered trademarks of Tesla Motors, Inc. in the United States and other countries.</p>
        </div>
    </section>
</footer>