<footer class="bg-[#010e25] py-[40px] text-white">
  <section
    class="container mx-auto flex flex-col justify-between pb-[20px] lg:flex-row xl:px-[8rem]"
  >
    <div
      class="mb-10 w-full space-y-3.5 ps-[1rem] text-gray-300 md:w-[60%] lg:w-[35%] xl:w-[40%]"
    >
      <img
        src="/assets/out-horizontal-logo.svg"
        class="h-[22.31px] w-[240px]"
        alt="Only Used Tesla Logo"
      />
      <div class="space-y-3 lg:w-[85%] xl:w-[80%]">
        <p class="text-[14px] text-[#ccc]">
          Copyright © 2024
          <a href="" class="hover:underline">Qureshi Media</a> — All rights
          reserved. Read our
          <a href="" class="hover:underline">terms of service</a>.
          <a href="" class="hover:underline">Our perfect privacy mission</a>
        </p>
        <div class="flex gap-1 text-sm">
          <a href="#" class="transition-colors hover:text-white">Facebook</a> /
          <a href="#" class="transition-colors hover:text-white">Twitter</a> /
          <a href="#" class="transition-colors hover:text-white">Instagram</a>/
          <a href="#" class="transition-colors hover:text-white">Reddit</a>/
          <a href="#" class="transition-colors hover:text-white">YouTube</a>
        </div>
      </div>
    </div>
    <div
      class="flex w-full flex-col space-y-6 px-[1rem] md:flex-row lg:w-[60%] lg:space-y-0 lg:px-0"
    >
      <div
        class="w-full space-y-3 ps-0 md:w-[34%] lg:w-[33%] lg:ps-[1rem] xl:ps-[1.6rem]"
      >
        <h3 class="text-[12px] font-semibold">MODELS</h3>
        <nav
          class="flex flex-col space-y-1 text-[18px] text-[#ccc] lg:text-[17px]"
        >
          <a href="#" class="transition-colors hover:text-white"
            >Used Cybertruck For Sale</a
          >
          <a href="#" class="transition-colors hover:text-white"
            >Used Model S For Sale</a
          >
          <a href="#" class="transition-colors hover:text-white"
            >Used Model 3 For Sale</a
          >
          <a href="#" class="transition-colors hover:text-white"
            >Used Model X For Sale</a
          >
          <a href="#" class="transition-colors hover:text-white"
            >Used Model Y For Sale</a
          >
          <a href="#" class="transition-colors hover:text-white"
            >Used Roadster For Sale</a
          >
        </nav>
      </div>
      <div
        class="w-full space-y-3 ps-0 md:w-[34%] md:ps-[1.6rem] lg:w-[33%] lg:ps-[0.5rem] xl:ps-[1.6rem]"
      >
        <h3 class="text-[12px] font-semibold">LISTING TYPE</h3>
        <nav class="flex flex-col space-y-5 text-[18px] text-[#ccc]">
          <div class="flex flex-col">
            <a href="#" class="transition-colors hover:text-white">For Sale</a>
            <a href="#" class="transition-colors hover:text-white"
              >Lease Takeover</a
            >
            <a href="#" class="transition-colors hover:text-white"
              >Sale Pending</a
            >
          </div>
          <div class="flex flex-col space-y-2.5">
            <h3 class="text-[12px] font-semibold">LOCATIONS</h3>
            <a href="#" class="transition-colors hover:text-white"
              >All locations</a
            >
          </div>
        </nav>
      </div>
      <div
        class="w-full space-y-3 ps-0 md:w-[34%] md:ps-[1.6rem] lg:w-[33%] lg:ps-0 xl:ps-[1.6rem]"
      >
        <h3 class="text-[12px] font-semibold">SUPPORT</h3>
        <nav class="flex flex-col space-y-1 text-[18px] text-[#ccc]">
          <a href="#" class="text-gray-300 transition-colors hover:text-white"
            >About Us</a
          >
          <a
            href="#"
            class="font-bold text-gray-300 underline decoration-OnlyUsedTeslaRed decoration-2 underline-offset-4 transition-colors hover:text-white"
            >Dealers: Advertise your inventory</a
          >
          <a href="#" class="transition-colors hover:text-white">Tesla News</a>
          <a href="#" class="transition-colors hover:text-white"
            >Frequently Asked Questions</a
          >
          <a href="#" class="transition-colors hover:text-white"
            >Fraud Awareness</a
          >
          <a href="#" class="transition-colors hover:text-white">Contact Us</a>
        </nav>
      </div>
    </div>
  </section>
  <section
    class="container mx-auto space-y-[25px] px-[1rem] py-5 text-xs text-gray-400 xl:px-[8rem]"
  >
    <div class="h-[1px] w-full bg-gray-400"></div>
    <p class="">
      Only Used Tesla (OUT) is an independent organization and is not affiliated
      with Tesla Motors, Inc. or its subsidiaries. Tesla, Tesla Motors, Tesla
      Roadster, Model S, Model X, and the “Tesla”, “T” and “Tesla and T in
      Crest” designs are trademarks or registered trademarks of Tesla Motors,
      Inc. in the United States and other countries.
    </p>
  </section>
</footer>
