<section class="hidden rounded border shadow xl:block">
  <form class="w-full space-y-5 p-4 text-[#222]">
    <button
      class="w-full text-center text-OnlyUsedTeslaRed underline hover:text-black"
      type="reset"
    >
      Clear filters
    </button>
    <div class="w-full">
      <h3 class="font-semibold">Seller Type</h3>
      <div class="w-full space-x-1">
        <input type="radio" name="sellertype" id="all" />
        <label for="all" class="font-normal">All</label>
      </div>
      <div class="w-full space-x-1">
        <input type="radio" name="sellertype" id="PrivateSeller" />
        <label for="PrivateSeller" class="font-normal">Private Seller</label>
      </div>
      <div class="w-full space-x-1">
        <input type="radio" name="sellertype" id="dealer" />
        <label for="dealer" class="font-normal">Dealer</label>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <div class="">
        <label for="model" class="font-semibold">Model</label>
        <select name="model" id="model" class="w-full rounded border py-2.5">
          <option value="all">All</option>
          <option value="cybertruck">CyberTruck</option>
          <option value="model_s">Model S</option>
          <option value="model_3">Model 3</option>
          <option value="model_x">Model X</option>
          <option value="model_y">Model Y</option>
        </select>
      </div>
      <div class="">
        <label for="year" class="font-semibold">Year</label>
        <select name="year" id="year" class="w-full rounded border py-2.5">
          <option value="all">All</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
        </select>
      </div>
      <div class="">
        <label for="listing_type" class="font-semibold">Listing Type</label>
        <select
          name="listing_type"
          id="model"
          class="w-full rounded border py-2.5"
        >
          <option value="all">All</option>
          <option value="for_sale">For Sale</option>
          <option value="lease_takeover">Lease Takeover</option>
          <option value="pending_sale">Pending Sale</option>
        </select>
      </div>
    </div>
    <div class="">
      <label for="Condition" class="font-semibold">Condition</label>
      <select name="Condition" id="model" class="w-full rounded border py-2.5">
        <option value="all">All</option>
        <option value="cybertruck">Excellent</option>
        <option value="model_s">Fair</option>
        <option value="model_3">Very Good</option>
        <option value="model_x">Good</option>
      </select>
    </div>
    <div class="">
      <label for="trim" class="font-semibold">Trim</label>
      <select name="trim" id="model" class="w-full rounded border py-2.5">
        <option value="all">All</option>
        <option value="cybertruck">100D</option>
        <option value="model_s">40</option>
        <option value="model_3">60D</option>
        <option value="model_x">70D</option>
        <option value="model_y">75</option>
      </select>
    </div>
    <div class="">
      <label for="autopilot" class="font-semibold">Autopilot</label>
      <select name="autopilot" id="model" class="w-full rounded border py-2.5">
        <option value="all">All</option>
        <option value="cybertruck">Autopilot 1</option>
        <option value="model_s">Autopilot 2(Enhanced)</option>
        <option value="model_3">Base Autopilot</option>
        <option value="model_x">Full Self Driving</option>
        <option value="model_y">HW-2.0</option>
      </select>
    </div>
    <div class="">
      <label for="listing_type" class="font-semibold">Location</label>
      <select
        name="listing_type"
        id="model"
        class="w-full rounded border py-2.5"
      >
        <option value="all">All</option>
        <option value="cybertruck">Alabama</option>
        <option value="model_s">Arizona</option>
        <option value="model_3">Arkansas</option>
        <option value="model_x">California</option>
        <option value="model_y">Colorado</option>
      </select>
    </div>
  </form>
</section>
