<section class="border shadow rounded">
  <form class="w-full p-4 space-y-5">
    <div class="w-ful">
      <h3 class="font-semibold">Seller Type</h3>
      <div class="w-full">
        <input type="radio" name="sellertype" id="all" />
        <label for="all" class="font-normal">All</label>
      </div>
      <div class="w-full">
        <input type="radio" name="sellertype" id="PrivateSeller" />
        <label for="PrivateSeller" class="font-normal">Private Seller</label>
      </div>
      <div class="w-full">
        <input type="radio" name="sellertype" id="dealer" />
        <label for="dealer" class="font-normal">Dealer</label>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <div class="">
        <label for="model " class="font-semibold">Model</label>
        <select name="model" id="model" class="w-full border rounded py-2.5">
          <option value="all">All</option>
          <option value="cybertruck">CyberTruck</option>
          <option value="model_s">Model S</option>
          <option value="model_3">Model 3</option>
          <option value="model_x">Model X</option>
          <option value="model_y">Model Y</option>
        </select>
      </div>
      <div class="">
        <label for="year" class="font-semibold">Year</label>
        <select name="year" id="year" class="border rounded py-2.5 w-full">
          <option value="all">All</option>
          <option value="cybertruck">CyberTruck</option>
          <option value="model_s">Model S</option>
          <option value="model_3">Model 3</option>
          <option value="model_x">Model X</option>
          <option value="model_y">Model Y</option>
        </select>
      </div>
      <div class="">
        <label for="listing_type" class="font-semibold">Listing Type</label>
        <select
          name="listing_type"
          id="model"
          class="w-full rounded py-2.5 border"
        >
          <option value="all">All</option>
          <option value="cybertruck">CyberTruck</option>
          <option value="model_s">Model S</option>
          <option value="model_3">Model 3</option>
          <option value="model_x">Model X</option>
          <option value="model_y">Model Y</option>
        </select>
      </div>
    </div>
    <div class="">
      <label for="listing_type" class="font-semibold">Listing Type</label>
      <select
        name="listing_type"
        id="model"
        class="w-full rounded py-2.5 border"
      >
        <option value="all">All</option>
        <option value="cybertruck">CyberTruck</option>
        <option value="model_s">Model S</option>
        <option value="model_3">Model 3</option>
        <option value="model_x">Model X</option>
        <option value="model_y">Model Y</option>
      </select>
    </div>
    <div class="">
      <label for="listing_type" class="font-semibold">Listing Type</label>
      <select
        name="listing_type"
        id="model"
        class="w-full rounded py-2.5 border"
      >
        <option value="all">All</option>
        <option value="cybertruck">CyberTruck</option>
        <option value="model_s">Model S</option>
        <option value="model_3">Model 3</option>
        <option value="model_x">Model X</option>
        <option value="model_y">Model Y</option>
      </select>
    </div>
    <div class="">
      <label for="listing_type" class="font-semibold">Listing Type</label>
      <select
        name="listing_type"
        id="model"
        class="w-full rounded py-2.5 border"
      >
        <option value="all">All</option>
        <option value="cybertruck">CyberTruck</option>
        <option value="model_s">Model S</option>
        <option value="model_3">Model 3</option>
        <option value="model_x">Model X</option>
        <option value="model_y">Model Y</option>
      </select>
    </div>
    <div class="">
      <label for="listing_type" class="font-semibold">Listing Type</label>
      <select
        name="listing_type"
        id="model"
        class="w-full rounded py-2.5 border"
      >
        <option value="all">All</option>
        <option value="cybertruck">CyberTruck</option>
        <option value="model_s">Model S</option>
        <option value="model_3">Model 3</option>
        <option value="model_x">Model X</option>
        <option value="model_y">Model Y</option>
      </select>
    </div>
  </form>
</section>
