<div class="about content_2jT-">

    <main>
      <div class="mx-auto about-content bg-white py-[20px] lg:py-[40px]">
        <div class="about-content-grid  vueGrid_1Tm4 vmd_OErr hmd_3uLh 2xl:px-32 text-left">
          <div class="vueGridRow_17Az md_3grx text-left flex flex-wrap">
            <div data-width="100%" class="vueGridColumn_2t9e vmd_35Q2 hmd_j38p text-left flex-grow-0 flex-shrink w-full sm:w-full md:w-[75%] lg:w-[60%] xl:w-[60%] 2xl:w-[60%]" >
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                At Only Used Tesla, we've pioneered the first marketplace exclusively designed for buying and selling pre-owned Tesla vehicles. These aren't just ordinary cars; Tesla vehicles redefine luxury, marrying advanced technology with sustainable travel. However, we recognize that factors like restrictive dealership practices, hefty price tags of new-age technology, or an insufficient supply due to soaring demand can deter potential owners.
              </p>
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                Our platform breaks down barriers, creating an accessible marketplace for those looking to sell your Tesla or find a used Tesla for sale. We uniquely facilitate seamless transactions between Tesla enthusiasts and prospective owners, eliminating the challenges traditionally associated with acquiring these innovative machines.
              </p>
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                As a dedicated platform for Tesla resales, we proudly stand as one of the rare, if not the only, venues focused on offering used Teslas. Our mission revolves around making pre-owned Teslas more accessible to enthusiasts and aspiring owners alike. So, if you're scouring the market for a used Tesla for sale from a private seller or dealer, your search ends here at Only Used Tesla.
              </p>
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                Similarly, if you're planning to sell your Tesla, we provide an efficient and effective platform, ensuring your vehicle finds a new home with someone who will appreciate it just as much as you have. Choose Only Used Tesla – where Tesla ownership dreams become reality.
              </p>
              <h3 class="text-black font-medium leading-snug m-[2rem_0_1rem] text-[18px] tracking-[-.01em] lg:text-[24px]">Meet the Founder—Adam Qureshi</h3>
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                <img alt="photo" style="float: left; max-width: 140px; padding: 8px 20px 0px 0px;" class="float-left max-w-[140px] p-[8px_20px_0px_0px] lazyLoad isLoaded" src="https://onlyusedtesla.com/_nuxt/img/adam.3749d26.jpg">
              </p>
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                Adam began his career humbly on the streets of New York as a young boy, where he delivered newspapers and sold luxury bags to the wealthy elite. Gradually, he has built his life and company through a combination of hard work and uncompromisingly honest business. Today Adam has devoted himself to helping existing and prospective Tesla owners with great deals and services. His firm stance on fraud protection and robust universal digital privacy rights have earned him immense respect in the Tesla community.
              </p>
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                Moving forward, his calling is to help wean the world off its gasoline addiction and help everyone make the switch to electric vehicles so that the future is a cleaner, brighter, healthier place for us all.
              </p>
              <p class="text-[#222] mb-8 leading-[1.45] font-normal text-[16px] lg:text-[18px]">
                <a class="text-[#3186d0] underline" href="https://www.linkedin.com/in/adamqureshi/" target="_blank" rel="noopener noreferrer">
                  https://www.linkedin.com/in/adamqureshi/
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="hero relative bg-[#6c7884] bg-no-repeat bg-center bg-cover h-[50vh] md:h-[60vh] lg:h-[70vh] lazyLoad isLoaded" style="background-image: url('https://onlyusedtesla.com/_nuxt/img/hero-image-02.b23e0af.jpg');"></div>

  </div>
