@media (min-width: 1440px) {
    .about-content-grid {
        /* padding-left:8rem; */
        padding-right:8rem
    }
}

.hero:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(0,0,0,.648897),rgba(0,0,0,.4) 31%,transparent)
}

.vueGrid_1Tm4.vmd_OErr {
    padding-bottom: 1.6rem;
}

.vueGrid_1Tm4.hmd_3uLh {
    padding-left: 1.6rem;
    padding-right: 1.6rem
}

.vueGrid_1Tm4 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative
}

.vueGridColumn_2t9e.hmd_j38p {
    padding-left: 1.6rem;
}

.vueGridColumn_2t9e.vmd_35Q2 {
    padding-top: 1.6rem
}

@media (min-width: 768px) {
    .vueGrid_1Tm4 {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .vueGrid_1Tm4 {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .vueGrid_1Tm4 {
        max-width:1280px
    }
}

@media (min-width: 1440px) {
    .vueGrid_1Tm4 {
        max-width:1440px
    }
}