<form [formGroup]="searchForm" (ngSubmit)="goToSearchUrl()" class="grid grid-cols-2 md:grid-cols-4 w-[400px] md:w-[680px] xl:w-[980px] divide-x-[3px] pb-[1.6rem]">
  <div class="flex flex-col relative bg-white">
    <label for="model" class="text-[10px] font-medium leading-[1.6rem] pt-[5px] pr-[6px] pb-0 pl-[10px] inline-flex">MODEL</label>
    <select
    formControlName="model"
    id="model"
    class="w-full  leading-[56px] rounded-none bg-white relative pr-[9px] pb-3 pl-[7px]">
    <option value="ALL_OPTIONS" selected>All</option>
    <option *ngFor="let model of options.model" [value]="model">{{ model }}</option>
  </select>
  </div>

  <div class="hidden md:flex flex-col relative bg-white">
    <label for="year" class="text-[10px] font-medium leading-[1.6rem] pt-[5px] pr-[6px] pb-0 pl-[10px] inline-flex">YEAR</label>
    <select
    formControlName="year"
    id="year"
    class="w-full  leading-[56px] rounded-none bg-white relative pr-[9px] pb-3 pl-[7px]">
    <option value="ALL_OPTIONS" selected>All</option>
    <option *ngFor="let year of options.year" [value]="year">{{ year }}</option>
  </select>
  </div>

  <div class="hidden md:flex flex-col relative bg-white">
    <label for="location" class="text-[10px] font-medium leading-[1.6rem] pt-[5px] pr-[6px] pb-0 pl-[10px] inline-flex">LOCATION</label>
    <select
    formControlName="location"
    id="location"
    class="w-full  leading-[56px] rounded-none bg-white relative pr-[9px] pb-3 pl-[7px]">
    <option value="ALL_OPTIONS" selected>All</option>
    <option *ngFor="let location of options.location" [value]="location">{{ location }}</option>
  </select>
  </div>

  <div>
    <button type="submit" class="w-full h-full p-2 bg-[#e80013] text-white hover:bg-[#6c7884] focus:outline-none">
      Search
    </button>
  </div>
</form>
