$footer-padding: 0;
$footer-bg: palette-color('black');
$footer-color: palette-color('white');
$footer-link-color: var(--brand-link-color);
$footer-link-hover-color: var(--brand-link-hover-color);
$footer-link-font-weight: $link-font-weight;
