$nav-bar-bg: palette-color('black');
$nav-bar-color: #ccc;
$nav-bar-link-color: #ccc;
$nav-bar-link-hover-color: #fff;
$nav-bar-width: 100%;
$nav-bar-height: $space-52;
$nav-bar-padding: 3rem;
$nav-bar-index: 100;
