/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/designSystem/themes/light.scss';
@import './assets/designSystem/themes/dark.scss';

@font-face {
    font-family: "Untitled_Sans";
    src: url('/assets/fonts/UntitledSansRegular.woff2') format('woff2'),
         url('/assets/fonts/UntitledSansRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Untitled_Sans";
    src: url('/assets/fonts/UntitledSansBold.woff2') format('woff2'),
         url('/assets/fonts/UntitledSansBold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
  }

  @font-face {
    font-family: "Untitled_Sans";
    src: url('/assets/fonts/UntitledSansMedium.woff2') format('woff2'),
         url('/assets/fonts/UntitledSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
  }

  * {
    font-family: "Untitled_Sans", Helvetica, sans-serif;
  }