<main class="main">
  <ng-container *ngIf="auth.isAuthenticated$ | async as isAuthenticated; else loginButton">
    <button (click)="auth.logout()">
      Log out
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button (click)="auth.loginWithRedirect()">Log in</button>
  </ng-template>
  <h1>Home Page</h1>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-3 px-[1rem] xl:px-[8%] container mx-auto">
  <app-listing-card></app-listing-card>
  <app-listing-card></app-listing-card>
  <app-listing-card></app-listing-card>
</section>

</main>
